@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violetDark.css';
@import '@radix-ui/colors/green.css';

.home-section {
  position: relative;
  left: 260px;
  /* min-width: calc(100% - 260px); */
  max-width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  /* min-width: calc(100% - 78px); */
  max-width: calc(100% - 78px);
}
.home-content {
  display: flex;
  flex-wrap: wrap;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.Fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 15px;
}

.Button {
  display: block;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  margin-top: 1.5em;
  margin-inline: auto;
  outline: transparent;
  background-color: var(--violet4);
  color: #fff;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: var(--violet6);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--violet8);
  }
}

.Label {
  font-size: 1rem;
  color: var(--violet7);
  width: fit-content;
  font-weight: 600;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 1rem;
  line-height: 1;
  color: var(--blackA12);
  box-shadow: 0 0 0 1px var(--blackA7);
  padding: 0.5em;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--violet8);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee77;
  backdrop-filter: blur(4px);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 999;
  overflow: hidden;
}

.Modal {
  background-color: white;
  border-radius: 7px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 600px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  scrollbar-width: thin;
  outline: transparent;
  z-index: 1000;

  .Button.red {
    background-color: var(--red4);
    color: var(--red11);
  }

  .Button.red:hover {
    background-color: var(--red5);
  }

  .Button.red:focus {
    box-shadow: 0 0 0 2px var(--red7);
  }

  .Button.green {
    background-color: var(--green4);
    color: var(--green11);
  }

  .Button.green:hover {
    background-color: var(--green5);
  }

  .Button.green:focus {
    box-shadow: 0 0 0 2px var(--green7);
  }

  textarea {
    resize: none;
    flex: none !important;
    padding-block: 0.5em;
    height: 200px;
  }

  .ocorrencias-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    img {
      width: 15vw;
      height: 15vw;
      object-fit: cover;
    }
  }

  .error-message {
    color: #db3c31;
    font-size: 0.8rem;
    text-align: left;
    height: 0.8rem;
  }
}

.Modal.close {
  animation: contentHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}

@media (max-width: 768px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar {
    width: 100vw;
  }

  .sidebar .profile-details {
    width: 100%;
  }

  .sidebar.close {
    width: 0;
    i {
      display: none;
    }
  }

  .home-section {
    width: 0;
    display: none;
    z-index: 10;
  }
  .sidebar.close ~ .home-section {
    display: inherit;
    width: 100dvw;
    left: 0;
    max-width: 100%;
  }
}
