.movimentos,
.movimento-criar {
  margin-inline: clamp(16px, 3svw, 32px);
}

.box-shadow {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.45);
}

.movimento-criar {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form {
    border: #dddddd 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    /* max-width: 600px; */
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .input-wrapper {
        margin: auto;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='date'],
    input[type='password'] {
      border: #dddddd 1px solid;
      border-radius: 10px;
      padding: 0.5rem;
      outline: none;
      width: 100%;
      display: block;
      position: relative;
    }
    input[type='text']:read-only {
      background-color: #eeeeee;
    }

    input[type='button'],
    input[type='submit'] {
      background-color: #1d1b31;
      padding: 0.5rem;
      color: #fff;
      border-radius: 7px;
    }

    .error-message {
      color: #db3c31;
      font-size: 0.8rem;
      text-align: left;
    }
  }
}
