.condomino-criar {
  margin-inline: clamp(16px, 3svw, 32px);

  form {
    border: #dddddd 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .input-wrapper {
        margin: auto;
      }
    }

    input[type='date'] {
      border: #000 solid 1px;
      border-radius: 4px;
      padding: 0.5rem;
      text-align: center;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'] {
      border: #dddddd 1px solid;
      border-radius: 10px;
      padding: 0.5rem;
      outline: none;
      width: 100%;
      display: block;
      position: relative;
    }
    input[type='text']:read-only {
      background-color: #eeeeee;
    }

    input[type='button'],
    input[type='submit'] {
      background-color: #1d1b31;
      padding: 0.5rem;
      color: #fff;
      border-radius: 7px;
    }

    .error-message {
      color: #db3c31;
      font-size: 0.8rem;
      text-align: left;
    }
  }
}
