$main: black;
$grey: #8d9aa9;
$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);

.quotas,
.criar-quota {
  margin-inline: clamp(16px, 3svw, 32px);
}

.criar-quota {
  .form {
    border: #ddd 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .input-wrapper {
        margin: auto;
      }
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'] {
      border: #ddd 1px solid;
      border-radius: 10px;
      padding: 0.5rem;
      outline: none;
      width: 100%;
      display: block;
      position: relative;
    }

    input[type='text']:read-only {
      background-color: #eee;
    }

    input[type='checkbox'] {
      position: relative;
      border: 2px solid #000;
      border-radius: 4px;
      background: none;
      cursor: pointer;
      line-height: 0;
      margin: 0 0.6em 0 0;
      outline: 0;
      padding: 0 !important;
      vertical-align: text-top;
      height: 30px;
      width: 30px;
      appearance: none;
      opacity: 0.5;
    }

    .mcui-checkbox,
    .mcui-radio {
      display: flex;
      align-items: center;
      user-select: none;
      padding: 0.6em 0;
      box-sizing: border-box;

      input[type='checkbox'],
      input[type='radio'] {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }

      input[type='checkbox'] + div,
      input[type='radio'] + div {
        border: 2px solid $grey;
        height: 1.5em;
        width: 1.5em;
        box-sizing: border-box;
        border-radius: 2px;
        position: relative;
      }

      input[type='checkbox'] ~ div:last-child,
      input[type='radio'] ~ div:last-child {
        padding-left: 0.5em;
      }

      div + input[type='radio'] {
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          left: 25%;
          top: 25%;
          width: 50%;
          height: 50%;
          border-radius: 50%;
          transform: scale(0.5);
          opacity: 0;
          background: $main;
          transition: all 107ms $bezier;
        }
      }

      input[type='checkbox']:checked + div {
        border-color: $main;
        transition: border-color 107ms $bezier;

        .mcui-check {
          opacity: 1;
          transition: opacity 107ms $bezier;

          polyline {
            animation: dash-check 107ms $bezier forwards;
          }
        }
      }

      input[type='radio']:checked + div {
        border-color: $main;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }

      input[type='checkbox']:disabled ~ div,
      input[type='radio']:disabled ~ div {
        color: $grey;
        cursor: not-allowed;
      }

      input[type='checkbox']:enabled ~ div,
      input[type='radio']:enabled ~ div {
        cursor: default;
      }
    }

    .mcui-check {
      height: 100%;
      width: 100%;
      transform: scale(1);
      color: $main;
      opacity: 0;

      polyline {
        fill: none;
        transform-origin: 50% 50%;
        stroke-width: 5px;
        stroke-dasharray: 22.7714;
        stroke: currentcolor;
      }
    }

    button[type='submit'] {
      background-color: #1d1b31;
      color: #fff;
    }

    .error-message {
      color: #db3c31;
      font-size: 0.875rem;
      text-align: left;
    }
  }
}
