.ocorrencias {
  width: 100%;
  margin-inline: clamp(16px, 3svw, 32px);

  .error-message {
    color: #db3c31;
    font-size: 0.8rem;
    text-align: left;
    height: 0.8rem;
  }
}

.ver-ocorrencias {
  margin-block: 3em;

  .rdt_Table {
    color: #db3c31;
  }

  .filter-menu {
    margin-bottom: 1.5em;
    & > div i,
    & > div span {
      z-index: -1;
      transition: all 0.25s ease;
    }

    .showMenu,
    .open-filter {
      cursor: pointer;
    }

    .showMenu i {
      transform: rotate(-180deg);
    }
    & > div ~ div {
      position: relative;
      z-index: 0;
    }
  }

  .showMenu ~ .ocorrencias-filtros {
    margin-top: 1em;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
