.App {
  min-width: 100vw;
  min-height: 100vh;
}

.background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/bg-frontpage.jpg') no-repeat;
  object-fit: contain;
  background-size: 100% 100%;
}
