.ocorrencia-criar {
  form {
    border: #dddddd 1px solid;
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .input-wrapper {
        margin: auto;
      }
    }

    input[type='date'] {
      border: #000 solid 1px;
      border-radius: 4px;
      padding: 0.5rem;
      text-align: center;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='password'],
    textarea {
      border: #dddddd 1px solid;
      border-radius: 10px;
      padding: 0.5rem;
      outline: transparent;
      width: 100%;
      display: block;
      position: relative;
    }
    input:read-only {
      background-color: #eeeeee;
    }

    input[type='button'],
    input[type='submit'] {
      background-color: #1d1b31;
      padding: 0.5rem;
      color: #fff;
      border-radius: 7px;
    }

    .error-message {
      color: #db3c31;
      font-size: 0.8rem;
      text-align: left;
    }
  }
  .dropzone {
    border-radius: 7px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 12svh;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='%23DDDDDDDD' stroke-width='4' stroke-dasharray='14%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
}
