:root {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  min-width: max-content;
  height: 100%;

  /* &.sidebar-close { */
  /*   max-width: calc(100% - 78px); */
  /* } */

  /* &.sidebar-open { */
  /*   max-width: calc(100% - 260px); */
  /* } */

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #9b9b9b;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #9b9b9b;
  }
}

#root {
  height: 100%;
}

.required::after {
  content: '*';
  color: red;
  font-size: 1.2rem;
  margin-left: 0.2em;
  font-weight: bold;
}

.react-date-picker__wrapper {
  border: none !important;
}

a {
  font-weight: 600;
}
